<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.adjiekurniawan.sumbission5_dicoding">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission
        android:name="com.adjiekurniawan.submission5_dicoding.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="com.adjiekurniawan.submission5_dicoding.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:name="com.adjiekurniawan.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".alarm.DailyAlarmReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <receiver
            android:name=".alarm.ReleaseTodayReminder"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <provider
            android:name=".utils.TvFav"
            android:authorities="com.adjiekurniawan.submission5_dicoding"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.DetailMovieActivity" />
        <activity
            android:name=".activities.MainActivity"
            tools:ignore="InnerclassSeparator"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.ImageBannerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>

        <service
            android:name=".widget.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>